<!DOCTYPE html>
<html>
<head>
    <title>Ranking Configuration</title>
</head>
<body>
    <h1>Ranking Weights Configuration</h1>
    <form method="post">
        {% csrf_token %}
        <table>
            <tr><td>Compactness:</td><td><input type="number" name="compactness" value="{{ config.compactness }}" /></td></tr>
            <tr><td>Day Balance:</td><td><input type="number" name="day_balance" value="{{ config.day_balance }}" /></td></tr>
            <tr><td>End Time Preference:</td><td><input type="number" name="end_time_preference" value="{{ config.end_time_preference }}" /></td></tr>
            <tr><td>Start Time Preference:</td><td><input type="number" name="start_time_preference" value="{{ config.start_time_preference }}" /></td></tr>
            <tr><td>Late to Early:</td><td><input type="number" name="late_to_early" value="{{ config.late_to_early }}" /></td></tr>
            <tr><td>Lab Spread:</td><td><input type="number" name="lab_spread" value="{{ config.lab_spread }}" /></td></tr>
            <tr><td>Days Used:</td><td><input type="number" name="days_used" value="{{ config.days_used }}" /></td></tr>
        </table>
        <button type="submit">Save</button>
    </form>
</body>
</html>
